* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url('https://4kwallpapers.com/images/wallpapers/workout-limitless-endurance-gym-colorful-smoke-3556x2000-929.jpg') no-repeat center center fixed;
    background-size: cover;
}

.head {
    /* border: 2px solid black; */
    width: 100%;
    background-color: rgb(219, 66, 66);
    /* background-color: rgb(121, 93, 93); */
    /* opacity: 0.9; */
    height: 93px;
    border-radius: 5px;
}


/* Left */

.head .left {
    /* border: 2px solid red; */
    position: relative;
    display: inline-block;
    padding: 5px;
    margin: 0px 10px;
    /* top: 5px; */
    left: 10px;
}

.head .logo {
    /* border: 2px solid yellow; */
    padding: 0px 13px;
    filter: sepia(100%);
}

.head .logo img {
    /* filter: invert(100); */
    border-radius: 100px;
    border: 2px solid rgb(219, 66, 66);
    width: 110px;
    margin: auto;
}

.head .name {
    font-weight: bold;
    font-size: 19px;
    color: white;
}


/* Middle */

.head .mid {
    /* border: 2px solid green; */
    display: inline-block;
    width: 48%;
    position: relative;
    left: 7%;
    /* top: 0px; */
    bottom: 31px;
}

.head .mid li {
    /* border: 2px solid red; */
    display: inline-block;
    padding: 10px;
    margin: 20px 15px;
}

.head .mid li a {
    /* border: 2px solid red; */
    padding: 14px 17px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
}

.head .mid li a:hover {
    width: 16%;
    background-color: white;
    color: rgb(219, 66, 66);
}


/* Right */

.head .right {
    /* border: 2px solid grey; */
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 3%;
    width: 25%;
    height: 40px;
    margin: 3px 5px;
    padding: 3px;
}

.head .right .search {
    font-size: 17px;
    display: inline-block;
    width: 70%;
    height: 30px;
    margin: auto 20px auto auto;
    border-radius: 10px;
    text-align: center;
    border-style: none;
}

.head .right .btn {
    display: inline-block;
    width: 22%;
    height: 23px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    background-color: white;
}

.head .right .btn:hover {
    background-color: white;
    color: rgb(219, 66, 66);
}


/* Form */

.container {
    border: 2px solid white;
    padding: 10px;
    margin: 60px 15px;
    height: 383px;
    left: 100px;
    width: 550px;
    float: right;
    border-radius: 10px;
}

.container .info {
    /* border: 2px solid green; */
    height: 400px;
    color: white;
}

.container .info input {
    width: 380px;
    padding: 10px;
    margin: 15px;
    font-size: 18px;
    color: grey;
}

.container .info label {
    /* border: 2px solid red; */
    color: white;
    font-size: 27px;
}

.container .info .btn1 {
    display: block;
    text-align: center;
    height: 35px;
    margin: 15px auto;
    width: 234px;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(121, 93, 93);
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}

.container .info .btn1:hover {
    color: black;
}